<ion-header>
    <!-- <ion-navbar color="navbarColor"> -->
    <ion-navbar color="dark">
        <ion-title>
            estamos quase lá...
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="closeModal()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="filtroForm" (ngSubmit)="submeterTipoFiltro()">
        <span padding><b>filtrar por...</b></span>
        <ion-list radio-group>
            <ion-item>
                <ion-label color="dark">Oficinas mais próximas</ion-label>
                <ion-radio value="raio" checked (click)="disableEstado(true)" ngDefaultControl></ion-radio>
                <!-- <ion-radio formControlName="raio" value="raio" checked [(ngModel)]="filtroForm.raio" (click)="disableEstado(true)" ngDefaultControl></ion-radio> -->
            </ion-item>
            <ion-item>
                <ion-label color="dark">Selecionar cidade específica</ion-label>
                <ion-radio value="cidade" (click)="disableEstado(false)"></ion-radio>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label class="my-label">Estado</ion-label>
                <ion-select formControlName="idEstado" (ionChange)="getCidadesByEstado($event)" [(ngModel)]="filtroForm.idEstado" cancelText="Cancelar" style="color: #484848">
                    <!-- <ion-select formControlName="idEstado" (ionChange)="getCidadesByEstado($event)" [(ngModel)]="filtroForm.idEstado" cancelText="Cancelar" disabled={{estadoDisabled}} style="color: #484848"> -->
                    <!-- <ion-select formControlName="idEstado" (ionChange)="getCidadesByEstado($event)" [(ngModel)]="filtroForm.idEstado" cancelText="Cancelar" [attr.disabled]="estadoDisabled" style="color: #484848"> -->
                    <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="(!filtroForm.get('idEstado').valid && filtroForm.get('idEstado').touched) && !estadoDisabled" [ngClass]="'class-error-form'">campo obrigatório</div>

            <ion-list>

                <ion-item>
                    <!-- <select-searchable [items]="cidades">
                    </select-searchable> -->
                    <select-searchable formControlName="idCidade" class="my-label" title="Cidades" [(ngModel)]="filtroForm.idCidade" [items]="cidades" itemValueField="idCidade" itemTextField="cidade" [canSearch]="true" [noItemsFoundText]="'Nenhum registro encontrado'" searchPlaceholder="Digite o nome da cidade"
                        [focusSearchbar]="true">
                        <!-- <ng-template selectSearchableLabelTemplate>
                            Cidades <span style="color: #000">(required)</span>
                        </ng-template>
                        <ng-template selectSearchableTitleTemplate>
                            Cidades <span style="color: #000">(required)</span>
                        </ng-template> -->
                    </select-searchable>
                </ion-item>
                <div *ngIf="(!filtroForm.get('idCidade').valid && filtroForm.get('idCidade').touched) && !estadoDisabled" [ngClass]="'class-error-form'">campo obrigatório</div>


                <ion-item>
                    <ion-label class="my-label">Cidade</ion-label>
                    <ion-select formControlName="idCidade" [(ngModel)]="filtroForm.idCidade" cancelText="Cancelar" style="color: #484848">
                        <ion-option *ngFor="let cidade of cidades" value="{{cidade.idCidade}}">{{cidade.cidade}}</ion-option>
                    </ion-select>
                </ion-item>
                <div *ngIf="(!filtroForm.get('idCidade').valid && filtroForm.get('idCidade').touched) && !estadoDisabled" [ngClass]="'class-error-form'">campo obrigatório</div>
            </ion-list>

            <button ion-button block style="margin-top: 20px;" color="secondaryColor" class="span-style-color">Buscar</button>
        </ion-list>

    </form>

</ion-content>