<ion-header>

    <ion-navbar color="dark">
        <button ion-button menuToggle>
                      <ion-icon name="menu"></ion-icon>
                  </button>
        <ion-title style="margin-top: 8px;">
            <span>Meus orçamentos</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="content-stable">
    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="orcamentoEntityResult?.length == 0">
        <div style="text-align: center;color: #484848;"><strong>Você ainda não possui nenhum orçamento cadastrado</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="ios-albums" md="md-albums"></ion-icon>
        </div>
        <div>
            <button ion-button block (click)="inserirOrcamento()" color="navbarColor" class="margin-button-save span-style-color">Inserir orçamento</button>
        </div>
    </div>
    <ion-list>
        <button ion-item *ngFor="let orcamento of orcamentoEntityResult" text-wrap (click)="detalheOrcamento(orcamento.idOrcamento)">
            <strong>{{ orcamento.idOrcamento }}</strong>
            <p>{{ orcamento.statusOrcamento }}</p>
            <p style="color: #999 ">
                <ion-icon ios="ios-calendar" md="md-calendar" class="margin-icon"></ion-icon>Data da abertura: {{ orcamento.dataOrcamento }}
            </p>
        </button>
    </ion-list>

</ion-content>