<ion-header>

    <ion-navbar color="dark">
        <button ion-button menuToggle>
                          <ion-icon name="menu"></ion-icon>
                      </button>
        <ion-title style="margin-top: 8px;">
            <span>Selecione o serviço</span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="content-stable">

    <!-- <button (click)="hideShow=(hideShow ? false : true)">Toggle</button> -->

    <ion-icon [class.hide]="!showFilter" (click)="play()" name="play"></ion-icon>

    <ion-searchbar (ionInput)="getItems($event)" [class.show]="showFilter"></ion-searchbar>

    <ion-list>
        <!-- <button ion-item *ngFor="let servico of servicos" text-wrap (click)="openOficinasList(servico.idServico)"> -->
        <button ion-item *ngFor="let servico of servicos" text-wrap (click)="showModalTipoFiltro(servico.idServico)">
        <h4 style="color: #000;"><strong>{{ servico.tipoServico }}</strong></h4>
        <h4 style="color: #000;">{{ servico.servico }}</h4>
        </button>
    </ion-list>

</ion-content>