<ion-header>

    <ion-navbar color="dark">
        <ion-title>Detalhes</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">

    <ion-card text-wrap *ngIf="fornecedorEntity.nome">
        <div style="width: 50%; height: 50%; margin: auto;"><img src="assets/imgs/no-photo.png" *ngIf="fornecedorEntity.imagemLogo == null" /></div>
        <div style="width: 50%; height: 50%; margin: auto;"><img [src]="sanitizer.bypassSecurityTrustUrl(fornecedorEntity.imagemLogo)" *ngIf="fornecedorEntity.imagemLogo" /></div>
        <!-- <img src="data:image/png;base64,{{ fornecedorEntity.imagemLogo}}" *ngIf="fornecedorEntity.imagemLogo" /> -->
        <ion-card-content>
            <ion-card-title>
                {{ fornecedorEntity.nome }}
            </ion-card-title>
            <h4>
                CPF/CNPJ: {{ fornecedorEntity.cpfCnpj }}
            </h4>
            <h4>
                Insc. Estadual: {{ fornecedorEntity.inscricaoEstadual }}</h4>
            <h4>
                E-mail: {{ fornecedorEntity.email }}</h4>


            <h4>
                Telefone:
                <a ion-button clear item-end icon-right href="tel:+fornecedorEntity.telefone" style="margin-top: -5px;
                margin-left: -15px; font-size: 13px;">
                    <ion-icon ios="ios-call" md="md-call"> {{ fornecedorEntity.telefone }}</ion-icon>
                </a>
            </h4>
            <h4>
                Telefone 2:
                <a ion-button clear item-end icon-right href="tel:+fornecedorEntity.telefone2" style="margin-top: -5px;
                margin-left: -15px; font-size: 13px;">
                    <ion-icon ios="ios-call" md="md-call"> {{ fornecedorEntity.telefone2 }}</ion-icon>
                </a>
            </h4>

            <h4 *ngIf="fornecedorEntity.site">
                Site: {{ fornecedorEntity.site }}</h4>

            <!-- <h4>
                Telefone: <strong> {{ fornecedorEntity.telefone }}</strong>
                <button ion-button clear item-end icon-left (click)="callIT('tel:+1-1800-555-5555')">
                <ion-icon ios="ios-call" md="md-call"></ion-icon>
                </button>
            </h4> -->
            <!-- <h4>
                Telefone 2: <strong> {{ fornecedorEntity.telefone2 }}</strong>
                <button ion-button clear item-end icon-left (click)="callIT('tel:+fornecedorEntity.telefone')" style="font-size: 20px;
                margin-top: -5px;">
                            <ion-icon ios="ios-call" md="md-call"></ion-icon>
                        </button>
            </h4> -->


            <!-- <h4><strong> Telefone: {{ fornecedorEntity.telefone }}</strong></h4> -->
            <!-- <h4>
                Telefone 2: {{ fornecedorEntity.telefone2 }}</h4> -->


            <p class="border-top-color" style="margin-top: 10px; margin-bottom: 10px;"><strong>Endereço</strong>
            </p>

            <h4>
                {{ fornecedorEntity.endereco }} {{ fornecedorEntity.numeroEndereco }} {{ fornecedorEntity.complemento }}, </h4>
            <h4>Bairro: {{ fornecedorEntity.bairro }}</h4>
            <h4>{{ fornecedorEntity.nomeCidade }} - {{ fornecedorEntity.nomeEstado }}</h4>
            <p class="border-top-color" style="margin-top: 10px; margin-bottom: 10px;">
            </p>
            <ion-icon ios="ios-star" md="md-star" color="secondaryColor" (click)="modalAvaliacao()"> Avalie este fornecedor</ion-icon>

        </ion-card-content>
    </ion-card>

    <!-- <ion-card text-wrap>
        <ion-item>
            <h4>
                Nome: {{ fornecedorEntity.nome }}
            </h4>
            <h4>
                CPF/CNPJ: {{ fornecedorEntity.cpfCnpj }}
            </h4>
            <h4>
                Insc. Estadual: {{ fornecedorEntity.inscricaoEstadual }}</h4>
            <h4>
                E-mail: {{ fornecedorEntity.email }}</h4>
            <h4>
                Telefone: {{ fornecedorEntity.telefone }}</h4>
            <h4>
                Telefone 2: {{ fornecedorEntity.telefone2 }}</h4>
            <h4>
                Site: {{ fornecedorEntity.site }}</h4>

            <p class="border-top-color"><strong>Endereço</strong>
            </p>
            <h4>
                Endereço: {{ fornecedorEntity.endereco }} {{ fornecedorEntity.numeroEndereco }} {{ fornecedorEntity.complemento }}, </h4>
            <h4>Bairro: {{ fornecedorEntity.bairro }}</h4>
            <h4>{{ fornecedorEntity.nomeCidade }} - {{ fornecedorEntity.nomeEstado }}</h4>
        </ion-item>
    </ion-card> -->

</ion-content>