page-menu {
    .hide-card {
        -webkit-box-shadow: none!important;
    }
    .custom-avatar {
        height: 120px;
        width: 120px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}