<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            Cidades
        </ion-title>
        <!-- <ion-buttons start *ngIf="cidades?.length > 0">
            <button ion-button icon-only (click)="showFilter = !showFilter">
                <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </button>
        </ion-buttons> -->
        <ion-buttons end>
            <button ion-button (click)="closeModal()">
              <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-searchbar (ionInput)="getItems($event)" *ngIf="showFilter" placeholder="Buscar"></ion-searchbar> -->
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar"></ion-searchbar>

    <!-- <ion-item *ngFor="let cidade of cidades" (click)="setMarca(marcaVeiculo.idMarca, marcaVeiculo.marca)"> -->
    <ion-item *ngFor="let cidade of cidades">
        <!-- <ion-label style="color: #000; max-width: 40px;"> -->
        <!-- <img *ngIf="!marcaVeiculo.logo" src="assets/imgs/no-photo.png" style="width: 30px;" /> -->
        <!-- <img *ngIf="marcaVeiculo.logo" src="{{marcaVeiculo.logo}}" style="width: 30px;" /> -->
        <!-- </ion-label> -->
        <ion-label style="color: #000">
            {{cidade.cidade}}
        </ion-label>
        <ion-radio value="{{cidade.idCidade}}" (click)="setCidade(cidade.idCidade, cidade.cidade)"></ion-radio>
    </ion-item>

</ion-content>