<ion-header>

    <ion-navbar color="dark">
        <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
              </button>
        <ion-title style="margin-top: 8px;">
            <span>Meus veículos</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="content-stable">
    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="0 == 0">
        <div style="text-align: center;color: #484848;"><strong>Você ainda não possui nenhum veículo cadastrado</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="ios-car" md="md-car"></ion-icon>
        </div>
        <div>
            <button ion-button block (click)="inserirVeiculo()" color="navbarColor" class="margin-button-save span-style-color">Inserir veículo</button>
        </div>
    </div>
    <ion-list>
        <button ion-item *ngFor="let veiculo of veiculosResult" text-wrap (click)="detalheVeiculo(veiculo.idVeiculo)">
        <strong>{{ veiculo.placa }}</strong>
        <p>{{ veiculo.cor }}</p>
        <!-- <p style="color: #999 ">
            <ion-icon ios="ios-calendar" md="md-calendar" class="margin-icon"></ion-icon>{{ 'DATA_CANDIDATURA' | translate }}: {{ vaga.dataCandidatadaFormat }}
        </p> -->
    </button>
    </ion-list>

</ion-content>